/*//Katie pustolski
//11/7/14
//Rich Meia web app II MVC project*/
*{margin:0; padding:0;}

body{
	width:100%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #136D87;
}
a {
	text-decoration: none;
	/*padding:5px 10px;*/
	color:white;
	border-bottom: 2px solid white;
/*	border-radius: 10px;
	border: 2px solid white;*/

}

a:hover{
	opacity: 0.8;
}
#signupSubmit{
	/*margin-top: 50px;*/
}

nav#nav{
	padding: 10px 0px ;
	text-align: center;

}
nav#logout{
	padding: 10px 50px ;
	text-align: right;
	text-decoration: none;
}
nav#nav ul li{
	display: inline-block;
	padding: 0 5px;
}

#login,#signup{
	padding: 10px 0 20px 0 ;
	/*width:700px;*/
	/*background-color: orange;*/
	/*margin: 0 auto;*/
	text-align: center;
}

#user,#pass,#pass2{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#A65400;
	border-radius: 5px;
	padding:5px 0px;
	margin:5px 5px;

}

section#wrapper{

	width:700px;
	margin:0 auto;
}

section#content{
	color:#136D87;
	position: absolute;
	margin: 0 auto;
	border-radius: 16px;
	width:700px;
	top:100px;
	border:2px dashed white;
	background-color: #39AECF;
}

#message{
	padding:10px 10px;
	color:white;
	text-align: center;
}
h1{
	text-align: center;
	padding: 10px 0 0 0;
}

canvas{
/*	width:500px;
	height:500px;*/
	/*width:80;*/
	/*height:80%;*/
	border: 2px solid grey;	
	background:white;
	cursor:crosshair;
	float: left;
	/*clear:left;*/
	
}

#tools{
	color:white;
	float:left;
	clear:both;
	/*position: relative;*/
}
#tools button{
	margin: 0px 10px;
	padding: 0px 10px;
}